@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+3:wght@700&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.websitelogo{
  margin-top: 33px;
  margin-left: 100px;
  
}

.pizzaPhoto{
  margin-top: 5px;
  margin-left: 705px;
  border-radius: 0px 0px 0px 198.9px;
  position: absolute;
}

.pizzaPhotoBorder{
  margin-left: 688px;
  position: absolute;
}

.combinePizza{
  position: relative;
  margin-top: -122px;
  margin-left: 78px;  

}

.getInTouchBtn{
  height:42px;
   margin-top:32px;
   margin-left: 1277px;
   border: 1px solid #ffffff;
   padding: 3px 26px 3px 26px;
   gap: 10px;
   color:#ffffff;
   background-color: #E23744;
   border-radius: 25px;
   position: absolute;
   z-index: 8;

}
.HeadinggBox{
  width: 345px;
  height: 207px;
  margin-top: 227px;
  margin-left: 100px;
}

.Headingg{
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 700;
  line-height: 69px;
  font-size: 62px;
  color:#0E2368;
}

.paratext{
  font-family: 'Open Sans';
  font-size: 16.44px;
  line-height: 27.41px;
  width: 345px;
  height: 55px;
  margin-top: 20px;
  margin-left: 100px;
  color:#444957;
}